<div class="nav">
  <div class="ui grid">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <h1>estimate tool</h1>
      <p> input your informaiton </p>
    </div>
  </div>
</div>